/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
header div {
    background-color: lightblue
}

/* header, nav */
#nav_fixed {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
}

#nav_fixed::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    float: left;
    margin: 25px;
}

#list_up1 {
    float: left;
    padding: 10px;
    margin: 10px 10px;
}

#list_up2 {
    float: left;
    padding: 10px;
    margin: 5px 10px;
}

.list {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.button {
    background-color: rgb(146, 146, 240);
    font-size: 20px;
    padding: 3px 10px;
    border: currentColor;
    color: white;
}

.up {
    float: right;
    margin: 15px 25px;
}

.menu_right {
    float: right;
    background-color: white;
}

/* header, section */
#head {
    height: 95vh;
    width: 80%;
    margin: 0 auto 65px;
}

#title {
    width: 100%;
    text-align: left;
    padding: 100px 0 20px 0;
    font-size: 60px;
}

#title_text {
    font-size: 17px;
    padding: 15px 0 30px 0;
    float: left;
    width: 30%;
}

#jumbo {
    float: right;
    width: 70%;
}

#cancel {
    padding: 15px 0;
}

#head i {
    font-size: 45px;
    margin: 15px 0;
}

/* main */
.container {
    width: 80%;
    margin: 0 auto;
}

 /* main, section1 */
#title_main {
    padding: 20px 0;
    font-size: 50px;
}

.input {
    margin: 10px 3px 10px 10px;
}

.input_text {
    font-size: 20px;
}

/* main, section2 */
#number_2::after {
    content: "";
    display: table;
    clear: both;
}

.plan {
    width: calc(100% / 3.5);
    display: inline-block;
    float: left;
    margin: 25px 28px;
    border: 1px solid black;
}

.plan_type {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 17px;
    padding: 10px 0;
}

.plan_title {
    font-size: 30px;
    padding: 10px;
}

.plan_pay {
    font-size: 15px;
    padding: 10px; 
}

.info {
    color: rgb(161, 161, 161);
    margin: 10px 0 30px 10px;
}

.pln {
    margin: 10px 10px 10px 30px;
    font-size: 15px;
}

.plan_dcs {
   font-size: 15px;
   padding: 10px 0 0 0; 
}

.cong {
    margin: 5px 5px 10px 10px;
}

.divider {
    margin: 30px 0 30px 10px;
    width: 50px;
}

.plan_list_title {
    font-size: 18px;
    padding: 10px;
}

.plan_list {
    padding: 10px 0 100px 20px;
    /* list-style-type: ; */
}

.one {
    padding: 10px 0 130px 20px;
}

.plan_item {
    padding: 15px 0 0 0;
    font-size: 13px;
}

/* main, section3 */
#plandown {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#plandown::after {
    content: "";
    display: table;
    clear: both;
}

#plandown_type {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 18px;
}

#plandown_title {
    text-align: left;
    font-size: 25px;
    padding: 20px 10px;
}

#plandown_info {
    text-align: left;
    font-size: 15px;
    padding: 0px 10px 15px;
}

#plandown_ttl {
    display: block;
    margin-bottom: 15px;
}

#plandown_left {
    float: left;    
}

#plandown_right{
    float: right; 
    margin: 35px 15px;  
}

/* main, section4 */
#number_4::after {
    content: "";
    display: table;
    clear: both;
}

#number_4 {
    margin: 50px 0;
}

#sct_left {
    background-image: url(../img/partner.png);
    float: left;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 500px;
}


#sct_right {
    float: right;
    width: 35%;
}

#sct_title {
    font-size: 25px;
    margin: 25px 0;
}

#sct_info {
    font-size: 15px;
}

.partner {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 25px 0;
}

/* footer */