/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
header div {
    background-color: lightblue
}

/* header, nav */
#nav_fixed {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 999;
}

#nav_fixed::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    float: left;
    margin: 25px;
}

#list_up1 {
    float: left;
    padding: 10px;
    margin: 10px 10px;
}

#list_up2 {
    float: left;
    padding: 10px;
    margin: 5px 10px;
}

.list {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.button {
    background-color: rgb(146, 146, 240);
    font-size: 20px;
    padding: 3px 10px;
    border: currentColor;
    color: white;
}

.up {
    float: right;
    margin: 15px 25px;
}

.menu_right {
    float: right;
    background-color: white;
}

/* header, section */
#head {
    height: 95vh;
    width: 80%;
    margin: 0 auto 65px;
}

#title {
    width: 100%;
    text-align: left;
    padding: 100px 0 20px 0;
    font-size: 60px;
}

#title_text {
    font-size: 17px;
    padding: 15px 0 30px 0;
    float: left;
    width: 30%;
}

#jumbo {
    float: right;
    width: 70%;
}

#cancel {
    padding: 15px 0;
}

#head i {
    font-size: 45px;
    margin: 15px 0;
}

/* main */
.container {
    width: 80%;
    margin: 0 auto;
}

 /* main, section1 */
.title_main {
    padding: 20px 0;
    font-size: 50px;
}

.input {
    margin: 10px 3px 10px 10px;
}

.input_text {
    font-size: 20px;
}

/* main, section2 */
#number_2::after {
    content: "";
    display: table;
    clear: both;
}

#number_2 li {
    list-style: none;
}

.plan {
    width: calc(100% / 3.5);
    float: left;
    margin: 25px 28px;
    border: 1px solid black;
}

.plan_type {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 17px;
    padding: 10px 0;
}

.plan_title {
    font-size: 30px;
    padding: 10px;
}

.plan_pay {
    font-size: 15px;
    padding: 10px; 
}

.info {
    color: rgb(161, 161, 161);
    margin: 10px 0 30px 10px;
}

.pln {
    margin: 10px 5px 10px 60px;
    font-size: 15px;
}

.plan_dcs {
   font-size: 15px;
   padding: 10px 0 0 0; 
}

.cong {
    margin: 5px 5px 10px 10px;
}

.divider {
    margin: 30px 0 30px 10px;
    width: 50px;
}

.plan_list_title {
    font-size: 18px;
    padding: 10px;
}

.plan_list {
    padding: 10px 0 100px 20px;
}

.mark {
    color: rgb(128, 203, 228);
}

.one {
    padding: 10px 0 130px 20px;
}

.plan_item {
    padding: 15px 0 0 0;
    font-size: 13px;
}

/* main, section3 */
#plandown {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#plandown::after {
    content: "";
    display: table;
    clear: both;
}

#plandown_type {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 18px;
}

#plandown_title {
    text-align: left;
    font-size: 25px;
    padding: 20px 10px;
}

#plandown_info {
    text-align: left;
    font-size: 15px;
    padding: 0px 10px 15px;
}

#plandown_ttl {
    display: block;
    margin-bottom: 15px;
}

#plandown_left {
    float: left;    
}

#plandown_right{
    float: right; 
    margin: 35px 15px;  
}

/* main, section4 */
#number_4::after {
    content: "";
    display: table;
    clear: both;
}

#number_4 {
    margin: 50px 0;
}

#sct_left {
    background-image: url(../img/partner.png);
    float: left;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 500px;
}

#sct_right {
    float: right;
    width: 35%;
}

#sct_title {
    font-size: 25px;
    margin: 25px 0;
}

#sct_info {
    font-size: 15px;
}

.partner {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 25px 0;
}

/* main, section5 */
#clearfix_business::after {
    content: "";
    display: table;
    clear: both;
}

.business {
    float: left;
    width: 30%;
    margin: 15px;
}

.business h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.business p {
    font-size: 15px;
}

.img_bus {
    height: 300px;
    background-position: center;
    background-size: cover;
}

.first {
    background-image: url(../img/business-feature-switching-tools.png);
}

.second {
    background-image: url(../img/business-feature-coordinate-it.png);
}

.third {
    background-image: url(../img/business-feature-multi-device.png);
}

.fourth {
    background-image: url(../img/business-feature-integrations-it.png);
}

.fifth {
    background-image: url(../img/business-feature-send-files-it.png);
}

.sixth {
    background-image: url(../img/business-feature-security.png);
}

/* main, section6 */
#title_under {
    width: 50%;
    font-size: 30px;
    margin: 150px 0 20px 0;
}

section a {
    font-size: 15px;
}

/* main, section7 */
#number_7::after {
    content: "";
    display: table;
    clear: both;
}

#number_7 {
    margin-top: 30px;
}

#left {
    float: left;
    width: 25%;
}

#center {
    float: left;
    width: 50%;
    padding: 25px 65px;
    background-color: lightgrey;
}

#right {
    float: left;
    width: 25%;
}

.square {
    float: left;
    width: 50%;
}

.square img {
    height: 150px;
    width: 150px;
    padding: 30px 0 30px 40px;
    vertical-align: middle;
    filter: invert(1);
}

/* left */
.des {
    background-color: rgb(83, 214, 83);
    border: -5px solid lightgreen;
}

.asu {
    background-color: rgb(146, 1, 1);
}

.uf {
    background-color: rgb(121, 176, 194);
}

.topp {
    background-color: red;
}

/* right */
.wbr {
    background-color: red;
}

.hearst {
    background-color: lightskyblue;
}

.lonpl {
    background-color: rgb(50, 50, 255);
}

.cco {
    background-color: yellow;
}

/* center */
#center p {
    margin: 25px 0;
    font-size: 15px;
}

#center img {
    width: 150px;
    height: 100px;
}

#desdiv {
    margin: 20px 5px;
    width: 45px;
}

/* main, section8 */
#number_8 {
    background-color: rgb(153, 207, 224);
    height: 300px;
}

.free {
    text-align: center;
    padding-top: 120px;
}

.agency {
    color: rgb(143, 49, 49);
    font-size: 30px;
    float: left;
}

.agencyb {
    float: right;
    background-color: white;
    color: black;
}

/* main, section9 */
.faqs {
    margin-bottom: 50px;
}

#faq_title {
    font-size: 25px;
    margin: 50px 0 30px 0;
}

.faq {
    font-size: 15px;
    padding: 30px 0;
    border-top: 1px solid lightgray;
    position: relative;
}

.fdw {
    border-bottom: 1px solid lightgray;
}

.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 30px;
}

/* footer */
footer{
    background-color: black;
}

#fcontainer {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

/* up, footer */
#fcontainer::after {
    content: "";
    display: table;
    clear: both;
}

.item {
    float: left;
}

.title_item {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

.ul_item {
    margin-right: 100px;
}

.list_item {
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
}

.list_item a {
    color: white;
    text-decoration: none;
}

/* down, footer */
#dw {
    border-top: 1px solid white;
    width: 100px;
    text-align: left;
    margin-left: 7%;
    padding: 30px 0;
}

#fdown {
    color: white;
}